.kaufman__table_heading_theme_dark {
    margin-bottom: 20px;

}

.kaufman__table_heading_theme_dark h2{
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    text-align: start;
    color:white;
    
}