.feynman {
  position: relative;
  min-height: 890px;
  margin-left: 0;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}