
.footer__social-icon p{
    display: inline-block;
    margin: auto;

}

.footer__social-icon:first-child{
    margin-top: 20px;
    margin-bottom:10px;
}

.footer__social-icon:last-child{
    margin-top: 10px;
    margin-bottom: 16px;
}

