.header__title{
  margin:auto;
  margin-left: 64px;;
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  height: auto;
  display:flex;
  align-items: center;
  text-align: left;
  z-index: 3;
}
