.header__title {
  margin: 0 0 0 64px;
  padding: 0;
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  height: auto;
  align-items: center;
  text-align: left;
  z-index: 3;
}