.footer__column-links {
    margin: 20px auto 16px auto;


}

.footer__column-links p{
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    margin: auto;
}

.footer__column-links a{
  text-decoration: none;
}

.footer__column-links p:first-child{
    margin-bottom: 10px;
}

.footer__column-links p:last-child{
    margin-top: 10px;
}
